
<body class="all">
  <a href="/instructions"><button class="btn instruction-home btn-block">Instruction</button></a>
    <h1>Your Dictionary</h1>
    <div class="dictionary-container">
    <ul>
      <% @words.each do |word, define| %>
      <li><h3><%= word %></h3></li>
      <ol>
        <% define.definition.each do |definition| %>
        <% if definition != ""%>
        <li><%= definition %></li>
        <% end %>
        <% end %>
      </ol>
      <% end %>
    </ul>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <a href="/"><button class="btn">Home</button></a>
    </div>
    <div class="col-xs-4">
      <a href="/alphabetize"><button class="btn">Alphabetize</button></a>
    </div>
  </div>
</body>
