<body class="alphabetize">
  <a href="/"><button class="btn">Home</button></a>
  <h1>Your Dictionary</h1>
  <ul>
    <% @words.each do |word, define| %>
      <li><h3><%= word %></h3></li>
      <ol>
        <% define.definition.each do |definition| %>
          <% if definition != ""%>
            <li><%= definition %></li>
          <% end %>
        <% end %>
      </ol>
    <% end %>
  </ul>
</body>
