<body class="alphabetize">
  <h1>Your Dictionary</h1>
  <ul>
    <% @words.each do |word, define| %>
      <li><h3><%= word %></h3></li>
      <ol>
        <% define.definition.each do |definition| %>
          <% if definition != ""%>
            <li><%= definition %></li>
          <% end %>
        <% end %>
      </ol>
    <% end %>
  </ul>
  <div class="row">
    <div class="col-xs-4">
      <a href="/"><button class="btn">Home</button></a>
    </div>
    <div class="col-xs-5 col-offset-3">
      <a href="/all"><button class="btn">Words and Definitions</button></a>
    </div>
  </div>
</body>
