<div class="well">
  <h2>Words currently in your dictionary:</h2>
  <ul>
    <% @words.each do |word, definition| %>
      <li><a href="/word/<%= word %>"><%= word %></a></li>
    <% end %>
  </ul>
</div>

<!-- # <% if @error != nil %>
#   <div class="alert alert-danger">
#     <p>Word is alreay in dictionary!</p>
#   </div>
# <% end %> -->

<form action="/" method="post">
  <div class="form-group">
    <label for="word">Word:</label>
    <input type="text" name="word">
  </div>
  <button type="submit" class="btn">Add to List</button>
</form>
