
<a href="/instructions"><button class="btn instruction-home btn-block">Instruction</button></a>

<h3>Words currently in your dictionary:</h3>
<div class="row">
  <div class="list_container col-xs-4 col-offset-3">
    <ul>
      <% @words.each do |word, definition| %>
        <li><a href="/word/<%= word %>"><%= word %></a></li>
      <% end %>
    </ul>
  </div>
  <div class="scroll col-xs-5">
    <p><<<<<==== <br>Scroll list as words in dictionary grow</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-7">
    <a href="/all"><button class="btn">Words and Definitions</button></a>
  </div>
  <div class="col-xs-5">
    <a href="/alphabetize"><button class="btn">Alphabetize</button></a>
  </div>
</div>
<br>
<div class="hide error">
  <h4>Input Error</h4>
</div>

<form action="/" method="post">
  <div class="row">
    <div class="form-group col-xs-7">
      <input type="text" name="add_word" class="form-control" placeholder="Add word to dictionary">
    </div>
    <div class="col-xs-5">
      <button type="submit" class="btn add">Add</button>
    </div>
  </div>
</form>
<form action="/delete" method="post">
  <div class="row">
    <div class="form-group col-xs-7">
      <input type="text" name="delete_word" class="form-control" placeholder="Delete word from dictionary">
    </div>
    <div class="col-xs-5">
      <button type="submit" class="btn delete">Delete</button>
    </div>
  </div>
</form>
