<div class="well">
  <h2>Words currently in your dictionary:</h2>
  <ul>
    <% @words.each do |word, definition| %>
      <li><a href="/word/<%= word %>"><%= word %></a></li>
    <% end %>
  </ul>
</div>
