<div id="instructions">
  <h1>Instructions</h1>
  <p>Welcome to you very own dictionary. That's right, you fill this dictionary with words you learn in you day today life. You can add definitions to your words so you never forget what they mean. You even make you up words and definitions. Below are instruction on how to use your dicitionay. Happy word hunting.</p>
</div>
<a href="/"><button class="btn">Home</button></a>
