<body class="instructions">
  <div class="instructions-container">
    <h1>Instructions</h1>
    <p>Welcome to you very own dictionary. That's right, you fill this dictionary with words you learn in you day today life. You can add definitions to your words so you never forget what they mean. You even make you up words and definitions. Below are instruction on how to use your dicitionay. You can always click on the Instruction's button and it will bring you back hereHappy word hunting.</p>
    <ul>
      <li>Home Page</li>
      <ul>
        <li>The home page will always start with the word "apple". You can use this word to practice navigating, adding defintions and a photo.</li>
        <li>You can click on any word and it will take you to that word's page.</li>
        <li>Clicking on the "Words and Definition" button will take you to your list of words and their definitions.</li>
        <li>Clicking on the "Alphabetize" button will take you to your list of words and their definitons alphabetize</li>
        <li>You can add a word to your dictionary by filling in the box next to the "Add" button then click th "Add" button</li>
        <li>You can delete a word on your dictionary by filling in the box next to the "Delete" button then click the "Delete" button</li>
      </ul>
      <li>Word page</li>
      <ul>
        <li>On this page you can see your word and all its' defintions.</li>
        <li>You can add one or more defintions to your word by filling in the box next to the "✏️" button then click the "✏️" button</li>
        <li>You can change the background photo to your word page by filling in the box next to the "📷" button with a .jpg or .jpeg link to the photo of your choice then click the "📷" button. Click the "Remove Photo" button to return background to default photo.</li>
        <li>Click the "Home" button to return to home page.</li>
      </ul>
      <li>Words and Defintions/Alphabetize</li>
      <ul>
        <li>When you click these buttons you will be taken to the list of words and their definitions. "Words and Defintions" to a un-order list and "Alphabetize" to and order list.</li>
      </ul>
    </ul>
  </div>
  <br>
  <a href="/"><button class="btn">Home</button></a>
  <video playsinline autoplay muted loop poster="" id="bgvid">
    <source src="videos/book_pages_04.webm" type="video/webm">
    <source src="vides/book_pages_04.mp4" type="video/mp4">
  </video>
</body>
