<h3><%= @word.word %></h3>

  <ol>
    <% @word.definition.each do |definition| %>
      <% if definition != ""%>
        <li><%= definition %></li>
      <% end %>
    <% end %>
  </ol>


<a href="/">Home</a>
