<h3><%= @word.word %></h3>
<ol>
  <% if @word.definition.empty? %>
    <% @word.definition.each do |definition| %>
      <li><%= definition %></li>
      <% end %>
  <% end %>
</ol>


<a href="/">Home</a>
