body {
  color: white;
  background-image: url(../images/dictionary.jpg);
}

body.alphabetize {
  background-image: url(../images/alphabetical.jpg);
}

body.all {
  background-image: url(../images/words.jpg);
}

body, body.alphabetize, body.all {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.well {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h4 {
  color : #980000;
  text-align: center;
  font-size: 27px;
}

a {
  color: white;
}

.list_container {
  max-height: 100px;
  max-width: 148px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
