body {
  color: white;
  background-image: url(../images/dictionary.jpg);
}

body.alphabetize {
  background-image: url(../images/alphabetical.jpg);
}

body.all {
  background-image: url(../images/words.jpg);
}

body, body.alphabetize, body.all {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.well {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error h3 {
  color : #980000;
  text-align: center;
}

a {
  color: white;
}
