body.instructions video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

body {
  color: white;
  background-image: url(../images/dictionary.jpg);
}

body.alphabetize {
  background-image: url(../images/alphabetical.jpg);
}

body.all {
  background-image: url(../images/words.jpg);
}

body, body.alphabetize, body.all {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.well {
  background-color: rgba(14, 14, 14, 0.88);
}

.main_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h4 {
  color : #980000;
  text-align: center;
  font-size: 27px;
}

.scroll, .word-header, .current_header{
  text-align: center;
}

.scroll p, {
  font-size: 16px;
}

.word-header{
  font-size: 60px
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
}

.list_container {
  max-height: 100px;
  max-width: 178px;
  margin: auto;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.instruction-home {
  font-size: 20px;
}

.page-header {
  margin-top: 17px;
}

.instructions-container, .dictionary-container {
  max-height: 400px;
  max-width: 500px;
}



.list_container, .instructions-container, .dictionary-container{
  overflow: auto;
  font-size: 20px;
}

button {
  background-color: grey;
}
